mixin section(sectionName)
  section(class='main__section section-'+sectionName)
    h2.heading-secondary.heading-secondary_line.heading-secondary_icon(class='heading-secondary_icon_'+sectionName)= sectionName
    block