.avatar {
  content: "";
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: $color-primary;
  border: 1rem solid $color-white;
  box-shadow: 0 0 0 2px $color-primary;
  @include respond(desk) {
    width: 25rem;
    height: 25rem;
  }
}