.progress-bar-list {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    text-align: center;
    &:not(:first-child) {
      margin-top: 2rem;
    }
    // TODO двухколоночный прогресс с отступами в нужных местах
    // &:nth-child(3n + 1) {
    //   margin-top: 0;
    // }
  }

  &__progress-bar {
    margin-top: 1rem;
  }
}

.progress-bar {
  /* Style for "PHOTOSHOP" */
  width: 38rem;
  height: 2rem;
  background-color: #e6e6e6;
  
    &__line {
      /* Style for "PHOTOSHOP" */
      height: inherit;
      background-color: #3d6cb0;
    }
}