body {
  font-family: "Myriad Pro";
  font-weight: 400;
  line-height: 1;
  color: $color-font;

  @include respond(tab-port) {
    line-height: 1.5;
  }

}

.heading-primary {
  font-size: 10rem;
  text-transform: uppercase;
  &_font_bold {
    font-weight: 700;
    font-size: 12rem;
  }
  &_font_small {
    font-size: 5rem;
    }
  
}

.heading-secondary {
  width: 100%;
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-primary;
  
  &_icon {
  display: flex;
  align-items: center;
  overflow: hidden;
  &_profile::before {
    background: url(../../img/PROFILE_ICON.jpg) no-repeat;
  }
  &_contact::before {
    background: url(../../img/Phone_Icon.jpg) no-repeat;
  }
  &_skills::before {
    background: url(../../img/SKILLS_ICON.jpg) no-repeat;
  }
  &_education::before {
    background: url(../../img/EDUCATION_ICON.png) no-repeat;
  }

  &_experience::before {
    background: url(../../img/EXPERIENCE_ICON.jpg) no-repeat;
  }

  &_software::before {
    background: url(../../img/SOFTWARE_ICON.jpg) no-repeat;
  }
  
  &::before {
    content: "";
    width: 150px;
    height: 150px;
    margin-right: 25px;
    @include respond(tab-land) {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  }
  @include respond(tab-land) {
    flex-direction: column;
  }
  }
  &_line::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: $color-primary;
    margin: -6px -100% 0 1.5rem;
    @include respond(tab-land) {
    display: flex;
    margin: 1rem 0 0;
    width: 50%;
    }
}
}

.heading-tertiary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: inherit;
  &_blue {
    color: $color-primary;
  }

  &_bullet {
    font-weight: 700;
    &::before {
    content: '';
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-color: $color-font;
    border-radius: 50%;
    margin-right: 4rem;
    }
  }
  &__date {
    margin-left: 3rem;

    &::before {
      content: '// ';
    }
  }
}

.heading-quaternary {
  font-size: 5rem;
  text-transform: uppercase;
}

.heading-quinary {
  width: 174px;
  color: $color-primary;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  line-height: 1.2;
}