//----- MAIN -----------------------------------------------------------
.main {
  max-width: 224rem;
  margin: 15rem auto 0;
  display: flex;
  @include respond(desk) {
    margin: 10rem auto;
  }
  @include respond(tab-land) {
    flex-direction: column;
  }
}

.flex-container {
  &:first-child {
    width: 37%;
    margin: 0 17rem 0 0;

    

    @include respond(big-desk) {
      margin: 0 10rem 0 0;
    }
    @include respond(desk) {
      width: 40%;
      margin: 0 auto;
    }
    @include respond(tab-land) {
      width: 90%;
      margin: 0 auto
    }
  }

  max-width: 57%;
  @include respond(desk) {
    width: 50%;
    margin: 0 auto;
  }
  @include respond(tab-land) {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

//----- HEADER -----------------------------------------------------------
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.4rem;
  margin-bottom: 16rem;
}

.avatar {
  content: "";
  width: 46.5rem;
  height: 46.5rem;
  border-radius: 50rem;
  background-color: $color-primary;
  border: 20px solid $color-white;
  box-shadow: 0 0 0 2px $color-primary;
  margin-bottom: 7rem;
}

[class^="section-"] {
  margin-top: 10rem;
  @include respond(tab-land) {
    margin-top: 5rem;
  }
}

// section[class^="section-"]:not(:first-child) {
//   margin-top: 10rem;
// }

.section-profile {
  display: flex;
  flex-direction: column;

  .heading-secondary::before {
    background: url(../../img/PROFILE_ICON.jpg) no-repeat;
  }
  @include respond(tab-land) {
    .paragraph {
      width: 80%;
      margin: 3rem auto 0;
    }
  }
}

.section-contact {
  display: flex;
  flex-direction: column;
  @include respond(tab-land){
    align-items: center;
  }

  .heading-secondary::before {
    background: url(../../img/Phone_Icon.jpg) no-repeat;
  }
}

.contact-info__item {
  display: flex;
  margin-top: 6rem;
  font-size: 4rem;
}

.section-skills {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading-secondary::before {
    background: url(../../img/SKILLS_ICON.jpg) no-repeat;
  }

  .heading-tertiary {
    &:first-of-type {
      margin-top: 6rem;
    }

    margin-top: 3rem;
  }
}

.progress-circle {
  display: flex;
  justify-content: space-between;
  width: 64.6rem;
  margin-top: 3rem;
  @include respond(desk) {
    width: 70rem;
  }

  &__item {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $color-primary;

    &_blank {
      background-color: #e6e6e6;
    }
  }
}

.section-education {
  .heading-secondary::before {
    background: url(../../img/EDUCATION_ICON.png) no-repeat;
  }
  @include respond(tab-land) {
    margin-top: 5rem;
  }
  @include respond(big-desk) {
    margin-top: 0;
  }
}

// ROADMAP
.roadmap-list {
  margin: 6rem 0 0 2.5rem;

  &__item {
    display: flex;
    flex-direction: column;
    @include respond(tab-land) {
      align-items: center;
    }

    &:not(:first-child) {
      margin-top: 4rem;
    }

    .paragraph {
      margin: 2rem 0 0 8rem;
    }
  }
}

.section-experience {
  .heading-secondary::before {
    background: url(../../img/EXPERIENCE_ICON.jpg) no-repeat;
  }
}

.section-software {
  .heading-secondary::before {
    background: url(../../img/SOFTWARE_ICON.jpg) no-repeat;
  }
}

.software-knowledge {
  margin: 6.4rem 0 0 1.7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 68rem;
  align-content: space-between;
  @include respond(retina) {
    height: 51rem;
  }
  &__item {
    margin-top: 5rem;

    &:nth-child(3n+1) {
      margin-top: 0;
    }
  }
}

.progress-bar {
  /* Style for "PHOTOSHOP" */
  width: 55.4rem;
  height: 46px;
  background-color: #e6e6e6;
  margin-top: 4rem;
  @include respond(desk) {
    width: 40rem;
  }
  @include respond(tab-land) {
    width: 55.4rem;
  }

  @include respond (mobile) {
    width: 40rem;
  }

  &__line {
    /* Style for "PHOTOSHOP" */
    height: inherit;
    background-color: #3d6cb0;
  }
}

.footer {
  height: 190px;
}