//----- MAIN -----------------------------------------------------------
.main {
  // max-width: 224rem;
  margin-top: 15rem;
  padding: 0 12rem 0;
  display: flex;
  justify-content: space-around;

  &__header {
    margin-top: 2.4rem;
    margin-bottom: 16rem;
  }

  &__section {
    margin-top: 10rem;

    &:first-child {
      margin-top: 0;

      @include respond(tab-land) {
        margin-top: 10rem;
      }
    }

    @include respond(tab-land) {
      margin-top: 5rem;
    }
  }


  @include respond(tab-land) {
    flex-direction: column;
    align-items: center;
  }
}

.main__container {
  &_left {
    width: 37%;
  }

  &_right {
    width: 57%;

    @include respond(desk) {
      width: 50%;
    }
  }

  @include respond(tab-land) {
    width: 90%;
  }
}

//----- HEADER -----------------------------------------------------------
.header {
  &__avatar {
    margin-bottom: 7rem;
  }

  &__heading-primary {
  
    &:last-child {
      margin-top: 1rem;
    }
  }
}

.avatar {
  content: "";
  width: 46.5rem;
  height: 46.5rem;
  border-radius: 50rem;
  background-color: $color-primary;
  border: 20px solid $color-white;
  box-shadow: 0 0 0 2px $color-primary;

}

.section-profile {
  display: flex;
  flex-direction: column;

  &__paragraph {
    margin-top: 2rem;
  }

  @include respond(tab-land) {
    .paragraph {
      width: 80%;
      margin: 3rem auto 0;
    }
  }
}

.section-contact {
  display: flex;
  flex-direction: column;

  @include respond(tab-land) {
    align-items: center;
  }


}

.contact-info {
  &__heading-quinary {
    margin-right: 8rem;
  }

  &__item {
    display: flex;
    margin-top: 6rem;
    font-size: 4rem;
  }
}

.skills-list {
  &__item {
    margin-top: 3rem;
    text-align: center;

    &:first-of-type {
      margin-top: 6rem;
    }
  }
}

.progress-circle {
  display: flex;
  justify-content: space-between;
  width: 64.6rem;
  margin-top: 3rem;

  @include respond(desk) {
    width: 70rem;
  }

  &__item {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $color-primary;

    &_blank {
      background-color: #e6e6e6;
    }
  }
}

.section-education {
  @include respond(tab-land) {
    margin-top: 5rem;
  }
  @include respond(big-desk) {
    margin-top: 0;
  }
}

// ROADMAP
.roadmap-list {
  margin: 6rem 0 0 2.5rem;

  &__item {
    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
      align-items: center;
    }

    &:not(:first-child) {
      margin-top: 4rem;
    }

    .paragraph {
      margin: 2rem 0 0 8rem;
    }
  }

  &__heading-quaternary {
    margin-left: 8rem;
  }
}

.software-list {
  margin: 6.4rem 0 0 1.7rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 68rem;
  align-content: space-between;

  @include respond(retina) {
    height: 51rem;
  }

  &__item {
    margin-top: 5rem;

    &:nth-child(3n+1) {
      margin-top: 0;
    }
  }
}

.progress-bar {
  /* Style for "PHOTOSHOP" */
  width: 55.4rem;
  height: 46px;
  background-color: #e6e6e6;
  margin-top: 4rem;

  @include respond(desk) {
    width: 40rem;
  }

  @include respond(tab-land) {
    width: 55.4rem;
  }

  @include respond (mobile) {
    width: 40rem;
  }

  &__line {
    /* Style for "PHOTOSHOP" */
    height: inherit;
    background-color: #3d6cb0;
  }
}

.footer {
  height: 190px;
}