//----- MAIN -----------------------------------------------------------
.main {
  // max-width: 224rem;
  margin: 6rem 2rem 0;
  display: flex;
  flex-direction: column;
  @include respond(desk) {
    flex-direction: row;
    justify-content: space-around;
  }


    &__header {
      // TODO media Для отступа от верха и от низа
      @include respond(desk) {
      margin-top: 2.4rem;
      margin-bottom: 8rem;
      }
    }

    &__section {
      margin-top: 4rem;
        // TODO media для двухколоночной разметки
        @include respond(desk) {
        &:first-child {
          margin-top: 0;
        }
        }
      
    }

  &__container {
    &_left {
      @include respond(desk) {
      width: 37%;
      }
    }

    &_right {
      @include respond(desk) {
        width: 57%;
        }

    }
  }
}
//----- HEADER -----------------------------------------------------------
.header {
  &__avatar {
    margin-bottom: 1rem;
  }

  &__heading-primary {
    &:last-child {
      margin-top: 1rem;
    }
  }
}

.section-profile {
  display: flex;
  flex-direction: column;
  align-items: center;

    &__paragraph {
      margin-top: 2rem;
      max-width: 60rem;
      // @include respond(tab-port) {
      // margin: 2rem 6rem 0;
      // }
      
      }
}

.section-contact {
  display: flex;
  flex-direction: column;
}

.section-education,
.section-experience {
  &__roadmap-list {
    margin-top: 4rem;
  }
}


.footer {
  height: 8rem;
  display: flex;
  &__build-by {
    margin: 4rem auto 2rem;
  }
}