//- MIXINS
mixin section(sectionName)
  section()(class='section-'+sectionName)
    h2.heading-secondary= sectionName
    block

mixin contactInfo
  ul.contact-info
    each contactInfo, contactName in {'ADDRESS':'Main Street, City.','E-MAIL':'contact@domain.com', 'PHONE':'555-555-555', 'WEBSITE':'www.yourweb.com'}
      li.contact-info__item
        h5.heading-quinary= contactName
        p= contactInfo
    
mixin progressBar(headingName, currentSkill)
  h3.heading-tertiary= headingName
  ul.progress-circle
    - for (i=0; i<12;i++)
      li()(class= i<currentSkill ? 'progress-circle__item' : 'progress-circle__item progress-circle__item_blank')

mixin educationList
  ul.education-list
    - for(i=0; i<4; i++)
      li.education-list__item
        h3.heading-tertiary
          span.heading-tertiary_blue MASTER DEGREE
          span.heading-tertiary__date Feb 2011 - Jun 2014
          br
          h4.heading-quaternary UNIVERSITY NAME
        p.paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
      
doctype html
html(lang="en")

  head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel="shortcut icon" type="image/png" href="img/favicon.png")
      title(Your title)

  body
    main.main
      .flex-container
        header.header
          div.avatar
          h1.heading-primary
            span NAME HERE
            span.u-bold SURNAME
            span graphic designer
        +section('profile')
          p.paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
            strong pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
        +section('contact')
          +contactInfo
        +section('skills')
          +progressBar('creative', 9)
          +progressBar('teamwork', 11)
          +progressBar('innovative', 6)
          +progressBar('communication', 11)
      .flex-container
        section.section-education
          h2.heading-secondary education
          +educationList
            
            


    footer.footer
        
