doctype html
html(lang="en")

  head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel="shortcut icon" type="image/png" href="img/favicon.png")
      title(Your title)

  body
    main.main
      header.header
        div.avatar
        h1.heading-primary
          span NAME HERE
          span.u-bold SURNAME
          span graphic designer
      section.section-profile
        h2.heading-secondary Profile
        p.paragraph Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
          span.u-bold pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
      section.section-contact
        h2.heading-secondary Contact
        ul.contact-info
          li.contact-info__item
            h4 Adress
            p Main Street, City.
          li.contact-info__item
            h4 E-MAIL
            p contact@domain.com
          li.contact-info__item
            h4 PHONE
            p 555-555-555
          li.contact-info__item
            h4 WEBSITE
            p www.yourweb.com
      section.section-skills
        h2.heading-secondary Skills
        h3.heading-tertiary creative
        ul.progress-circle
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item.progress-circle__item_blank
          li.progress-circle__item.progress-circle__item_blank
          li.progress-circle__item.progress-circle__item_blank
        h3.heading-tertiary teamwork
        ul.progress-circle
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item.progress-circle__item_blank
        h3.heading-tertiary INNOVATE
        ul.progress-circle
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item.progress-circle__item_blank
          li.progress-circle__item.progress-circle__item_blank
          li.progress-circle__item.progress-circle__item_blank
          li.progress-circle__item.progress-circle__item_blank
          li.progress-circle__item.progress-circle__item_blank
          li.progress-circle__item.progress-circle__item_blank
        h3.heading-tertiary COMMUNICATION
        ul.progress-circle
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item
          li.progress-circle__item.progress-circle__item_blank
      section.section-education
        h2.heading-secondary education


    footer.footer
        
