.progress-circle-list {
  &__item {
    margin-top: 2rem;
    text-align: center;

    &:first-of-type {
      margin-top: 4rem;
    }
  }
  &__progress-circle {
    margin-top: 1rem;
  }
}

.progress-circle {
  display: flex;
  justify-content: space-between;
  width: 40rem;

  &__item {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $color-primary;

    &_blank {
      background-color: #e6e6e6;
    }
  }
  // TODO размер
  // @include respond(desk) {
  //   width: 70rem;
  // }
}