.progress-circle-list {
  &__item {
    margin-top: 3rem;
    text-align: center;

    &:first-of-type {
      margin-top: 6rem;
    }
  }
  &__progress-circle {
    margin-top: 3rem;
  }
}

.progress-circle {
  display: flex;
  justify-content: space-between;
  width: 64.6rem;

  &__item {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: $color-primary;

    &_blank {
      background-color: #e6e6e6;
    }
  }

  @include respond(desk) {
    width: 70rem;
  }
}