mixin contactList
  ul.contact-list
    each contactInfo, contactName in {'ADDRESS':'Main Street, City.','E-MAIL':'contact@domain.com', 'PHONE':'555-555-555', 'WEBSITE':'www.yourweb.com'}
      li.contact-list__item
        h5.heading-quinary.contact-list__heading-quinary= contactName
        p= contactInfo